body {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

[type="checkbox"] {
  position: relative;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

label {
  --font-size: 1em;
  position: relative;
  font-size: var(--font-size);
  height: var(--font-size);
  width: var(--font-size);
}

label::before {
  /*box*/
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border: thin solid black;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.1s;
}

label::after {
  /*checkmark*/
  content: "\1f394";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -50%);
  transform-origin: bottom left;
  opacity: 0;
  transition: all 0.1s;
}

[type="checkbox"]:checked+ ::before {
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(to right top, deeppink 1px, transparent 9px);
}

[type="checkbox"]:checked+ ::after {
  opacity: 1;
  transform: translate(15%, -50%)scale(1.3);
}

[type="checkbox"]:focus+ ::before {
  outline: medium dotted powderblue;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

/*.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
